@import url(https://fonts.bunny.net/css?family=bitter:400,400i,900,900i);

:root {
  --r-link-color: #F7E700;
}

body.reveal-viewport {
  background: black;
}

.mermaid {
  display: grid;
  place-content: center;
}

.mermaid svg {
  overflow: visible !important;
  font-family: 'Bitter', serif !important;
  font-size: 12px !important;
}

.mermaid.full svg {
  transform: translate(0%, -15%);
  width: 100vw !important;
  height: 100vh !important;
}

.mermaid svg .label {
  font-family: 'Bitter', serif !important;
  font-size: 12px !important;
}

.mermaid svg .node rect,
.mermaid svg .node circle,
.mermaid svg .node polygon,
.mermaid svg .actor,
.mermaid svg .actor-man circle,
.mermaid svg line,
.mermaid svg .labelBox,
.mermaid svg .entityBox,
.mermaid svg .attributeBoxOdd,
.mermaid svg .attributeBoxEven,
.mermaid svg .activation0,
.mermaid svg .activation1  {
  stroke: #F7E700 !important;
}

.mermaid svg text {
  fill: white !important;
}

.reveal {
  background-color: black;
  font-family: 'Bitter', serif !important;
  font-size: 1.7em !important;
  width: 100%;
}

.bash .hljs-ln-n::before {
  content: '$';
}

.reveal .slides section li.fragment.visible.current-fragment,
.reveal .slides section .lesson-title.fragment.visible.current-fragment {
  opacity: 1;
  visibility: inherit;
}

.reveal .slides section li.fragment.visible,
.reveal .slides section .lesson-title.fragment.visible {
  opacity: .5;
  visibility: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F7E700 !important;
  font-family: 'GlacialIndifferenceBold' !important;
  text-transform: uppercase !important;
}

img {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: auto !important;
  margin: 2rem auto !important;
}

.small-img {
  width: auto !important;
  height: 100px !important;
}

.med-img {
  width: auto !important;
  height: 200px !important;
}

.md-lg-img {
  width: auto !important;
  height: 250px !important;
}

.lg-img {
  width: auto !important;
  height: 500px !important;
}

.xl-img {
  width: auto !important;
  height: 600px !important;
}


pre code {
  font-size: 1.5em !important;
  line-height: 1.5em !important;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}
